/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
 

  /*========== Colors ==========*/
  --first-color: #069C54;
  --first-color-alt: #048654;
  --title-color: #393939;
  --text-color: #707070;
  --text-color-light: #A6A6A6;
  --body-color: #FBFEFD;
  --light-color: #FFFFFF;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /* ========== Margenes ========== */
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*========== BASE ==========*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
  --title-color: #F1F3F2;
  --text-color: #C7D1CC;
  --body-color: #0c151d;
  --container-color: #27302C;
}

/*========== Button Dark/Light ==========*/
.change-theme{
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
}

body{
  /* margin: var(--header-height) 0 0 0; */
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

a{
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
}
.moon-icon i{
  animation: slideFromTop 2s ease-in-out forwards;
  opacity: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.content {
  padding: 6rem 2rem 0rem 2rem;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo-section {
  animation: slideFromTop 2s ease-in-out forwards;
  opacity: 0;
  margin-bottom: 2rem;
}

.logo-section img {
  box-shadow: 2px 2px 5px var(--title-color);
  border-radius: 50%;

}

.info-section {
  animation: slideFromTop 2s ease-in-out forwards;
  opacity: 0;
  box-shadow: 2px 2px 5px var(--title-color);
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 2rem;
}

.info-title-section {
  text-align: start;
  line-height: 1.8rem;
}

.info-title-section h2 {
  font-size: 1.75rem;
}

.info-title-section p {
  font-size: 0.875rem;
  font-weight: 400;
}

.icon-section {
  animation: slideFromTop 2s ease-in-out forwards;
  opacity: 0;
  box-shadow: 2px 2px 5px var(--title-color);
}

.icon-section button {
  background-color: #ff7236;
  cursor: pointer;
  padding: 0.5rem 0.6rem;
  border-radius: 50%;
  margin-right: 1rem;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.icon-section {
  box-shadow: 2px 2px 5px var(--title-color);
  color: var(--body-color);
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.icon-section button{
  border: none;
}
.icon-section img {
  width: 1.2rem;
}

.heading-section {
  animation: slideFromTop 2s ease-in-out forwards;
  opacity: 0;
  box-shadow: 2px 2px 5px var(--title-color);
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}



/* contact-card */
.contact-card {
  animation: slideFromTop 2s ease-in-out forwards;
  opacity: 0;
  box-shadow: 2px 2px 5px var(--title-color);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
  margin-bottom: 2rem;
}

.contact-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.4rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #b3b3b3;
  width: 100%;

}

.contact-title img {
  width: 2rem;
}

#contact-icon {
  background-color: #333;
  padding: 0.8rem 0.9rem;
  border-radius: 50%;
}

.contact-title span {
  font-size: 1.5rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  text-align: start;
  line-height: 0;
}

.title {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.title-info {
  font-size: 1rem;
  color: rgb(129, 129, 129);
}

.direction-btn {
  margin-top: 2rem;
}


.direction-btn a {
  background-color: #ff7236;
  border-radius: 2rem;
  width: max-content;
  padding: 0.8rem 1.2rem;
  text-decoration: none;
  text-align: center;
  transition: 0.8s;
  background-size: 200% auto;
  color: white;
  display: block;
  font-size: 1rem;
  box-shadow: 1px 1px 5px rgba(65, 65, 65, 0.499);
}

.direction-btn i {
  margin-right: 0.5rem;
}

.direction-btn a:hover {
  background-position: right center;
}


/* image-section */
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 5rem;
}

.gallery a {
  display: flex;
  justify-content: center;
}

.gallery img {
  box-shadow: 1px 1px 5px var(--title-color);
  width: 240px;
  border-radius: 1rem;
  transition: transform 0.2s;
}

.gallery img:hover {
  transform: scale(1.05);
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000;
  overflow: hidden;
}

.lightbox:target {
  display: flex;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}


/* video-section */
.video-section{
  /* background-color: #007bff; */
  animation: slideFromTop 2s ease-in-out forwards;
  box-shadow: 2px 2px 5px var(--title-color);
  border-radius: 1rem;
  line-height: 1.2rem;
  margin-bottom: 2rem;
}
.video-section iframe{
  width: 100%;
  height: 315px;
  padding: 0.5rem;
}
.team-section{
  animation: slideFromTop 2s ease-in-out forwards;
  box-shadow: 2px 2px 5px var(--title-color);
  border-radius: 1rem;
  margin-bottom: 2rem;
  text-align: start;
  padding: 1rem;
}
.team-title{
  text-align: center;
  line-height: 0.5rem;
  border-bottom: 1px solid rgba(204, 204, 204, 0.941);
}
.team-title p{
  font-size: 0.8rem;
}
.team-info{
  padding-top: 1rem;
  display: flex;
  gap: 0.5rem;
  line-height: 0;
  align-items: start;
}
.team-logo img{
  border-radius: 50%;
}
.team-discription{
  display: flex;
  flex-direction: column;
  align-items: start;
 
}
.team-discription span{
  font-size: 0.8rem;
  line-height: 0.895rem;
}


footer{
  font-size: 1rem;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 4rem;
}

@keyframes slideFromTop {

  0% {
      opacity: 0;
      transform: translateY(-10%);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}


 @media screen and (max-width:480px) {
  .content {
      width: 300px;
      padding: 6rem 0rem 0rem 0rem;

  }

  .info-title-section h2 {
      font-size: 0.875rem;
      font-weight: 700;
  }

  .gallery {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
  }

  .gallery img {
      width: 300px;
  }

  .product-section {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
} 



@keyframes slideFromTop {

  0% {
      opacity: 0;
      transform: translateY(-10%);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}


.time-section{
  animation: slideFromTop 2s ease-in-out forwards;
  box-shadow: 2px 2px 5px var(--title-color);
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.dropdown {
     width:100%;
     position: relative;
 }

 .dropbtn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1rem;
     text-align: start;
     width: 100%;
     padding: 16px;
     font-size: 16px;
     border: none;
     cursor: pointer;
     background-color:var(--body-color);
     color: var(--text-color);

 }
 .dropbtn i{
  font-size: 1.5rem;
 }

 .dropdown-content {
     border-radius: 0 0 1rem 1rem;
     display: none;
     width: 100%;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
 }

 .dropdown-content a {
    color: var(--text-color);
     padding: 12px 16px;
     text-decoration: none;
     display: block;
 }

 .show {
     display: block;
 }

 .time{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 0.5rem;
 }
 

 /*testimonial-container*/
 .slider-section{
  animation: slideFromTop 2s ease-in-out forwards;
  box-shadow: 2px 2px 5px var(--title-color);
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.slider {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
}

.slider button {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.767);
  border: none;
  color: white;
  font-size: 1rem;
  padding: 0.2rem 0.6rem;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
}

.prev {
  left: 10px;
  background-color: #007bff;
}

.next {
  right: 10px;
  background-color: #007bff;
}

button:focus {
  outline: none;
}

.slide span{
  font-size: 1.5rem;
  font-weight: 700;
}
.slide p{
  font-size: 0.875rem;
}



/* product-section */
.product-section{
  animation: slideFromTop 2s ease-in-out forwards;
  box-shadow: 2px 2px 5px var(--title-color);
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.product-slider {
  border-radius: 1rem;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.3s ease;
}

.product-slide {
  border-radius: 1rem;
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.product-slide img {
  width: 80%;
}

.product-section button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 0.7rem 0.8rem;
  border-radius: 50%;
  cursor: pointer;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}
.product-btn{
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.product-btn span{
  cursor: pointer;
  background-color: #ff7236;
  color: #fff;
  font-size: 0.875rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
}